body{
    margin: 0;
    background-color:aqua;
}
#header{
    background-color:rgb(17, 1, 1);
    height: 70px;
}
#first{
    text-align: center;
    color: cornsilk;
    height: 70px;
    float: left;
    width: 40%;
}
#second{
    line-height: 70px;
    color: cornsilk;
    height: 70px;
    float: right;
    width: 60%;
}
span{
    margin-right: 30px;
}
#pic{
    padding: 50px;
    float: left;
    width: 30%;
}
#name{
    padding: 70px;
    float: right;
    width: 50%;
}
img{border-radius: 50%;}
table{
    width: 100%;
    text-align: center;
    margin-top: ;
}
#footer{
    background-color: rgb(27, 2, 2);
    margin-top: 1px;
    padding-top: 40px;
    text-align: center;
    color: white;